body {
    font-family: "Inter";
    font-size: 14px;
    color: #464646;
    background-color: #003566;
    background-image: url(./asserts/BG.svg), radial-gradient(#0F4C83, #003566);
    background-size: cover;
}

input {
    border-radius: 4px;
    border: 2px solid#BFBFBF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    height: 400px;
    width: 600px;
    border-radius: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#cache-content {
    background: rgb(73, 153, 173);
    width: 100%;
    height: 110px;
}

#cache-item {
    padding: 1px 7px 0px 7px;
}

#random-number {
    font-size: 160px;
}

#random-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 14px;
    height: 38px;
    width: 120px;
    cursor: pointer;
}

.button-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 164px;
    cursor: pointer;
}

.left-button {
    margin-right: 5px;
    border-radius: 200px;
}

.right-button {
    margin-left: 5px;
    border-radius: 200px;
}

.button-primary {
    border-style: none;
    background-color: #FFB800;
}

.button-secondary {
    border: 2px solid #FFB800;
    background-color: transparent;
}

#content-button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h2 {
    font-size: 20px;
    color: #050505;
}

.number-pipe {
    color: #1a1a1a;
}

input[type="file"] {
    display: none;
}

.container-input {
    display: flex;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-input-item {
    display: flex;
    align-items: center;
}

.content-input-item input {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width:650px) {
    #random-number {
        font-size: 10rem;
    }
}

.content-number-cache {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 50px;
}

@media only screen and (max-width:550px) {
    #random-number {
        font-size: 8rem;
    }

    .content-button {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-button .left-button {
        margin-top: 10px;
        margin-right: 0px;
    }

    .content-button .right-button {
        margin-left: 0px;
    }

    .container-input {
        display: flex;
        flex-direction: column;
    }

    .content-input-item {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .content-input-item input {
        height: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
