body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main-content {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#cache-content {
    background: rgb(73, 153, 173);
    width: 100%;
    height: 110px;
}

#cache-item {
    padding: 1px 7px 0px 7px;
}

#random-number {
    font-size: 20rem;
}

button {
    height: 2rem;
    width: 12rem;
    cursor: pointer;
}

#content-button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h2 {
    font-size: 20px;
    color: #050505;
}

p {
    color: #050505;
}

.number-pipe {
    color: #1a1a1a;
}

.content-button .left-button {
    margin-right: 5px;
}

.content-button .right-button {
    margin-left: 5px;
}

.container-input {
    display: flex;

}

.content-input-item {
    display: flex;
    align-items: center;
}

.content-input-item input {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width:650px) {
    #random-number {
        font-size: 10rem;
    }
}

.content-number-cache {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 50px;
}

@media only screen and (max-width:550px) {
    #random-number {
        font-size: 8rem;
    }

    .content-button {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-button .left-button {
        margin-top: 10px;
        margin-right: 0px;
    }

    .content-button .right-button {
        margin-left: 0px;
    }

    .container-input {
        display: flex;
        flex-direction: column;
    }

    .content-input-item {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .content-input-item input {
        height: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}